:root {
  --red-color: rgb(199, 16, 16);
  --grey-color: rgb(192, 191, 191);
  --grey-dark-color: rgb(119, 119, 119);
}
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}

/*----------------------------------------------------*/
.navBar {
  padding: 0rem !important;
  border-bottom: 2px solid var(--red-color) !important
}
.p-tabview .p-tabview-nav {
  background: var(--grey-dark-color) !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: var(--grey-dark-color) !important;
  color: white !important
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--grey-color) !important;
}
.main-container {
  display: flex;
}